*.iml
.gradle
/.claude
/local.properties
/.idea
.DS_Store
/build
**/build/
/.kotlin
/captures
.externalNativeBuild
/androidApp/build
/composeApp/build
/screenshotTests/build
/native/Pods
*.aab
*.apk
*.jks
*.keystore
.claude
xcuserdata/
fastlane/play-store-key.json
**/play-store-key.json
fastlane/report.xml
fastlane/README.md
